.contact__container {
  margin-top: 5rem;
  display: flex;
  align-self: center;
  flex-direction: column;
}

.contact__title {
  /* text-align: center; */

  font-weight: 700;
  font-size: var(--size-4xl);
  letter-spacing: -0.05em;

  background-image: linear-gradient(-45deg, #f89b29 75%, #ff0f7b 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.contact__card {
  margin-top: 1rem;
  background-color: #151520;
  align-self: center;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: 320px;

  min-height: 25rem;
  max-height: 25rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.contact__card__title {
  text-align: flex-start;
  font-weight: 500;
  font-size: var(--size-xl);
  letter-spacing: -0.05em;
}

.contact__card__input {
  border: none;
  background-color: var(--clr-slate800);
  resize: none;
  padding: 5px;
  border-radius: 5px;
  color: "white";
}

.contact__card__textarea {
  border: 1px solid var(--clr-slate400);
  background-color: var(--clr-slate800);
  resize: none;
  height: 6rem;
  border-radius: 5px;
}

.contact__card__input:focus {
  outline: none;
}

.contact__card__textarea:focus {
  outline: none;
}

/* DESKTOP STYLES */

/* very small screens */
/* this doesnt exit we automatically put them to a mobile view this isnt wide enough */
@media (min-width: 475px) and (orientation: landscape) {
  .contact__container {
    width: 40rem;
    border: 1px solid red;
    margin-top: 11rem;
  }
  .contact__title {
    font-size: var(--size-4xl);
  }
}

/* small screens */
@media (min-width: 640px) and (orientation: landscape) {
}

/* medium screens */
@media (min-width: 768px) and (orientation: landscape) {
  .contact__container {
  }
  .contact_title {
    font-size: var(--size-5xl);
  }
}

/* large screens */
@media (min-width: 1024px) and (orientation: landscape) {
  .contact__container {
    width: 55rem;
  }
  .contact__title {
    font-size: var(--size-6xl);
  }
}

/* extra large screens */
@media (min-width: 1280px) and (orientation: landscape) {
}

/* 2xl screens */
@media (min-width: 1536px) and (orientation: landscape) {
}
